<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="busConnection" value="Endpoint=sb://topgear.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=C+aQdIcRA4u4AT6tI/ohnCBtAubti/VsNkBNWB6TFwg=" />
    <add key="busQueueName" value="promotions" />
    <add key="baseUrlTeste" value="https://topgearapidev.azurewebsites.net/api/" />
    <add key="Token" value="CorrectHorseBatteryStaple" />
  </appSettings>
</configuration>